<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/optout.css"> 
	</head>

	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
			
			<!-- Here is the basic elements for all pages -->

		<div id = "cover">
			<div class = "coverContent">
				<h1> Bagel Wednesday </h1>
				<h3> Wednesdays couldn't possibly get better. </h3>
			</div>
		</div>

		<div id = "navigate">
			<ul> 
				<li> <img src = "images/att.jpg" alt = "ATT Logo" class = "attLogo"> </li>
				<li> <div class = "menuLink"> Menu </div> </li>
				<li> <div class = "homeLink"> Home </div> </li>
			</ul>
		</div>

		<div id = "sidebar">
			<div class = "sidebarContent">
				<div class = "sidebarLists">
					<label for = "voluteerList"> Volunteer </label>
					<ul>
						<li> <div class = "availabilityLink"> Sign Up for Shifts </div> </li>
						<li> <div class = "cancelShiftLink"> Cancel Shifts </div> </li>
					</ul>
					<hr>
					<label for = "adminList"> Admin </label>
					<ul>
						<li> <div class = "scheduleLink"> Schedule </div> </li>
					</ul>
					<hr>
					<ul>
						<li> <div class = "loginLink"> Login </div> </li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Page specific conent -->

		<div class = "description">
			<p> Please checkoff which date(s) you would like to cancel in the current month for. </p>
		</div>


		<div class = "shiftBoxes">
				<div class = "shiftContentAll">
					<div class = "checkbox">
						<form>
							<div class = "form-horizontal">
								<div class = 'NameInput'>
									<label for = "name"> Name: </label>
									<input name = "nameOptout" type = "text" class = "form-control" id = "nameOptout" placeholder = "Name"> 
								</div>

							<div class = ATTUInput>
								<label for = "ATTUforUser"> ATTU ID: </label>
								<input type = "text" class = "form-control" name = 'ATTUIDOptout' id = "ATTUIDOptout" placeholder = "ATTU ID">
							</div>
						</div>

							<h5> Cancellation Date: </h5>

							<label>
								<input type = "checkbox"  name = "day" value = "day1"> <label class = 'date'> Wednesday 1 </label> <br>
								<input type = "checkbox"  name = "day" value = "day2"> <label class = 'date'> Wednesday 2 </label> <br>
								<input type = "checkbox"  name = "day" value = "day3"> <label class = 'date'> Wednesday 3 </label> <br>
								<input type = "checkbox"  name = "day" value = "day4"> <label class = 'date'> Wednesday 4 </label> <br>
								<div class = "date5">
									<input type = "checkbox"  name = "day" value = "day5"> <label class = "date"> Wednesday 5 </label> <br>
								</div>
							</label>
						</form>
					</div>
					<script>
						var weds;
						function Wednesdays(){
						var l;
						var d=new Date();
						var m=["January","February","March","April","May","June","July","August","September","October","November","December"]
						var month=d.getMonth();
						var wedarray=[];
						if(month==0||month==2||month==4||month==6||month==7||month==9||month==11){
							l=31;
						}
						else if(month!=1){
							l=30;
						}
						else if(year%4==0&&year%100==0&&year%1000!=0){
							l=29;
						}
						else{
							l=28;
						}
						for(var w=1;w<=l;w=w+1){
				   			d.setDate(w);
							if(d.getDay()==3){
								console.log(d);
				       			wedarray.push(m[d.getMonth()]+' '+d.getDate()+', '+d.getFullYear());
				       		}
						}
						return wedarray;
					}
					weds=Wednesdays();
					document.getElementsByClassName("date")[0].innerHTML='Wednesday, '+weds[0];
					document.getElementsByClassName("date")[1].innerHTML='Wednesday, '+weds[1];
					document.getElementsByClassName("date")[2].innerHTML='Wednesday, '+weds[2];
					document.getElementsByClassName("date")[3].innerHTML='Wednesday, '+weds[3];
					if(weds[4]===undefined){
						document.getElementsByClassName("date")[4].innerHTML='';
						document.getElementsByClassName("date5")[0].innerHTML='';
					}
					else{
						document.getElementsByClassName("date")[4].innerHTML='Wednesday, '+weds[4];
					}
				</script>	
			</div>
		</div>

		<div class = "buttons">
			<button class = "btn btn-info btn-lg" name = "submit"> Submit </button>
		</div>
	</body>
	<script src = "javascripts/submitOptout.js"> </script>
	<script src = "javascripts/optout.js"></script>
	<script src = "javascripts/Sidebar-Navigation.js"></script>
</html>		